.report-container {
  color: #fff;
  background-color: #121212;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.page-title {
  font-size: 1.8rem;
  color: #00d1b2;
  letter-spacing: 0.5px;
}

.custom-tabs .nav-link {
  font-weight: 600;
  color: #ccc;
  background-color: #1f1f1f;
  border-radius: 10px 10px 0 0;
  transition: all 0.25s ease;
  margin-right: 5px;
}

.custom-tabs .nav-link.active {
  background-color: #00d1b2;
  color: #fff !important;
}

.tab-pane-container {
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 0 0 10px 10px;
  max-height: 600px;
    overflow: auto;

}


.tab-pane-container::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

/* Bảng có header cố định */
.tab-pane-container table {
  border-collapse: collapse;
}


.tab-pane-container td {
  color: #ddd;
  vertical-align: middle;
}

/* Nút xuất file */
.export-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;

  .btn-success {
    font-weight: 600;
    border-radius: 6px;
    transition: all 0.2s ease;
    background-color: #00d1b2;
    border: none;
    margin: 10px;

    &:hover {
      background-color: #00bfa6;
      transform: translateY(-2px);
    }
  }
}

/* Bộ lọc thời gian */
.filter-container {
  display: flex;
  gap: 10px;
  align-items: end;
  margin-bottom: 15px;

  label {
    font-weight: 500;
  }

  input {
    background-color: #2b2b2b;
    color: #fff;
    border: 1px solid #444;
  }
}
